# Processo seletivo Autotrac

In [1]:
import pandas as pd

## 21.Mostre um código em Pandas que tem como objetivo a criação de uma série a partir de um dicionário

In [104]:
d = {"A": 100, "B": 200, "C":300}
s1 = pd.Series(d, name="Nome da série")

In [105]:
s1

A    100
B    200
C    300
Name: Nome da série, dtype: int64

In [106]:
# É possível alterar a ordem dos índices e, ainda, incluir um índice inexistente no dicionário,
# que terá como valor atribuído np.nan

s2 = pd.Series(d, name="Série com NaN", index=['C', 'A', 'B', 'D'])

In [107]:
s2

C    300.0
A    100.0
B    200.0
D      NaN
Name: Série com NaN, dtype: float64

Obs: como a inserção do índice D, o valor np.nan inserido nele fez com que o Pandas alterasse o dtype para float64. Observe que a anterior, como continha apenas inteiros, foi gerada com dtype int64

## 22 Considere a tabela (dataSet) abaixo
Obs: salvei em um arquivo csv e li diretamente dele

In [108]:
# Importaçõo dos dados
df = pd.read_csv('data/autotrac.csv', index_col=0)

In [109]:
df.head()

         Data Estado          Cidade  Confirmado  Recuperado  Óbito
1  2022-06-01     DF        Brasília           7           6      1
2  2022-06-01     SP      São  Paulo          56          54      2
3  2022-06-02     RJ  Rio de Janeiro          29           7      1
4  2022-06-02     AP          Macapá          12           6      6
5  2022-06-03     MT          Cuiabá           8           4      1

### a. Crie um DataFrame que retorne apenas as colunas ‘Estado’ e ‘Confirmado’

In [110]:
df_a = df[['Estado', 'Confirmado']]

In [111]:
df_a

  Estado  Confirmado
1     DF           7
2     SP          56
3     RJ          29
4     AP          12
5     MT           8
6     MS           5
7     PB           6
8     RS          34

### b. Como seria o código para retornar em um DataFrame apenas os registros com óbito superior a 2?

In [112]:
df_b = df.loc[df['Óbito']>2]

In [113]:
df_b

         Data Estado        Cidade  Confirmado  Recuperado  Óbito
4  2022-06-02     AP        Macapá          12           6      6
8  2022-06-04     RS  Porto Alegre          34          29      3

### c. Como seria o código para ordenar de maneira ascendente o DataSet pelas colunas ‘Estado’ e ‘Recuperados’?

#### Ordenação por "Estado" e "Recuperado"
Obs: Como a questão pede a ordenação pelas colunas "Estado" e "Recuperado", entendo que a odenação seria por ambas, nessa ordem. Porém há apenas uma linha para cada estado, assim o DataFrame ordenado por ambas as colunas é idêntico ao que seria ordenado apenas por Estado

In [114]:
df_c1 = df.sort_values(['Estado', 'Recuperado'], ascending=True)

In [115]:
df_c1

         Data Estado          Cidade  Confirmado  Recuperado  Óbito
4  2022-06-02     AP          Macapá          12           6      6
1  2022-06-01     DF        Brasília           7           6      1
6  2022-06-03     MS    Campo Grande           5           3      1
5  2022-06-03     MT          Cuiabá           8           4      1
7  2022-06-04     PB     João Pessoa           6           4      2
3  2022-06-02     RJ  Rio de Janeiro          29           7      1
8  2022-06-04     RS    Porto Alegre          34          29      3
2  2022-06-01     SP      São  Paulo          56          54      2

#### Ordenação por "Recuperado" e "Estado"
Ordenando primeiro por "Recuperado", agrupamos as linhas com o mesmo número de recuperados e, assim, estas ficam em ordem ascendente de "Estado"

In [116]:
df_c2 = df.sort_values(['Recuperado', 'Estado'], ascending=True)

In [117]:
df_c2

         Data Estado          Cidade  Confirmado  Recuperado  Óbito
6  2022-06-03     MS    Campo Grande           5           3      1
5  2022-06-03     MT          Cuiabá           8           4      1
7  2022-06-04     PB     João Pessoa           6           4      2
4  2022-06-02     AP          Macapá          12           6      6
1  2022-06-01     DF        Brasília           7           6      1
3  2022-06-02     RJ  Rio de Janeiro          29           7      1
8  2022-06-04     RS    Porto Alegre          34          29      3
2  2022-06-01     SP      São  Paulo          56          54      2

### d. Qual o código necessário para retornar uma série (Series) da coluna ‘Estado’?

In [118]:
s = df['Estado']  # como é uma única coluna, o Pandas automaticamente retorna pd.Series.

In [119]:
type(s)

pandas.core.series.Series

In [120]:
s

1    DF
2    SP
3    RJ
4    AP
5    MT
6    MS
7    PB
8    RS
Name: Estado, dtype: object